@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --branco-principal: #f0f8ff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: "Inter";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 18px;
    font-weight: 800;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container__botao:hover {
    transform: scale(1.1);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
    color: var(--branco-principal)
}

.dispositivos__titulo {
    font-size: 48px;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    margin-left: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    margin: 1em;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active{
    color: aqua;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}